a, a:hover {
  color: #f09300;
}

/* Back to top button */
.back-to-top {
  background: #f09300;
  color: #fff;
}

.back-to-top:focus {
  background: #f09300;
  color: #fff;
}

.back-to-top:hover {
  background: #aa6900;
  color: #fff;
}

.navbar-default {
  background: #f09300;
}

.form-control:focus {
  border-color: #f09300;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #00c1c1;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 2px #00c1c1;
}

.service .carousel-indicators .active {
  background: #f09300;
}

.btn-theme {
  background: #f09300;
}

.contact-widget i {
  color: #f09300;
}
